@charset "UTF-8";
/* CSS Document */

html {
	font-size: 12px;
}

body {
	background-color: #171717;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	color: white;
}

.flex-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 2rem;
	background: #171717;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	z-index: 1000;
}

.left { 
	display:flex;
	gap:1rem;
	font-size: 1.2rem;
}

.left-text {
	margin-right: 3rem;
	margin-left: 1rem;
}

.right { 
	display:flex;
	gap:1rem; 
}

.center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	pointer-events: none;
	font-size: 1.75rem;
}

.icon {
	color: white;
	margin-left: 3rem;
	margin-right: 1rem;
	display: flex;
	align-items: center;
	transition: 0.2s ease;
}

.icon:hover {
	color: #F57C3B;
	transform: translateY(-0.25rem);
}

.left a:link {
	color: currentColor;
	background-color: transparent;
	text-decoration: none;
	transition: 0.2s ease;
}

.left a:visited {
	color: currentColor;
	background-color: transparent;
	text-decoration: none;
}

.left a:hover {
	color: #F57C3B;
	background-color: transparent;
	text-decoration: none;
	transform: translateY(-0.25rem);
	transition: 0.2s ease;
}

.left a:active {
	color: currentColor;
	background-color: transparent;
	text-decoration: none;
}

.my-info {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4rem;
	padding: 4rem 2rem;
	max-width: 100rem;
	margin: 0 auto;
	margin-top: 8rem;
	opacity: 0;
  	transition: opacity 3s ease, transform 3s ease;
  	transform: translateY(20px);
}

.my-info.show {
  	opacity: 1;
  	transform: translateY(0);
}

.left-photo img {
	width: 30rem;
	height: auto;
	object-fit: cover;
	margin-right: 3rem;
}

.my-photo {
	border: 1rem solid #F57C3B;
	border-radius: 4rem;
}

.right-text {
	max-width: 42rem;
	margin-left: 3rem;
}

.right-text h1 {
	font-size: 2.8rem;
	font-weight: 700;
	margin-bottom: 1rem;
	text-align: center;
}

.right-text p {
	font-size: 1.05rem;
	line-height: 1.6;
	margin-bottom: 2rem;
	text-align: center;
}

.info-buttons {
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
	align-items: center;
}

.info-btn {
	display: inline-block;
	text-align: center;
	padding: 0.9rem 2rem;
	background: #F57C3B;
	color: white;
	border-radius: 0.7rem;
	font-weight: 600;
	text-decoration: none;
	transition: 0.2s ease;
	width: 7rem;
}

.info-btn:hover {
	transform: translateY(-0.2rem);
	opacity: 0.9;
}

.bg-overlay {
	z-index: -1;
	background: linear-gradient(
	to bottom,
		rgba(17,17,17,1)0%,
		rgba(17,17,17,0.75)60%,
		rgba(17,17,17,0.75)70%,
		rgba(17,17,17,1)100%
	);
	position: fixed;
	pointer-events: none;
	inset: 0;
}

.bg-image {
	position: fixed;
	background-image: url("photos/lr-fsae.JPG");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: -2;
	inset: 0;
}

.about-me {
	align-items: center;
	justify-content: center;
	gap: 2rem;
	padding: 2rem 2rem;
	max-width: 50rem;
	margin: 0 auto;
	margin-top: 1rem;
	margin-bottom: 7rem;
	display: flex;
    flex-direction: column;
    text-decoration: none;
    color: inherit;
    background: #171717; /* adjust to your site colors */
    border-radius: 1.5rem;
    overflow: hidden;
}

.about-title {
	font-size: 2.8rem;
	font-weight: 700;
	margin-bottom: 1rem;
	margin-top: 10rem;
	text-align: center;
}

.about-me p {
	font-size: 1.05rem;
	line-height: 1.6;
	margin-bottom: 2rem;
	text-align: center;
}

footer {
	text-align: center;
	margin-top: 2rem;
}